@grey1: linear-gradient(60deg, #292929, #222222 );
@grey2: #1d1d1d;
@grey3: linear-gradient(120deg, #000, #222222 );
@background-cover-widgets: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));
@border: 1px solid black;
@speed1: 300ms;
@speed2: 500ms;

html, body, .app, #left-panel, #right-panel { height: 100%; }
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  * { font-family: 'Open Sans Condensed', sans-serif; }
}
body {
  #map           { z-index: 0; }
  #ui            { z-index: 1; }
  #cover-widgets { z-index: 1; }
  #left-panel    { z-index: 2; }
  #right-panel   { z-index: 2; }
  #header        { z-index: 3; }
  .inactive {
    opacity: 0.5;
    border: dashed 1px #555;
  }
  input {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
    &:active { border: none; }
  }
  .elements-ui-absolute {
    position: fixed;
    top: 0;
    transition-duration: @speed2;
  }
  .button { cursor: pointer; }
  #header {
    width: 100%;
    height: 60px;
    background: @grey2;
    border-bottom: @border;
    color: white;
    .container-left-menu {
      background: black;
      float: left;
      i {
        transform: rotateZ(-180deg);
        transition-duration: @speed2;
        font-size: x-large;
        padding: 18px;
      }
      &.clicked i { transform: rotateZ(0deg); }
    }
    h1 {
      float: left;
      padding: 11px 0;
      width: 190px;
      font-family: 'Abel', sans-serif;
      font-weight: bolder;
      margin: 0;
      text-align: center;
      font-size: 30px;
      float: left;
    }
    .container-right-menu {
      float: right;
      padding: 20px;
      width: 25px;
      height: 20px;
      div {
        position: absolute;
        transition-duration: 300ms;
        width: 25px;
        height: 5px;
        background: white;
        border-radius: 2.5px;
      }
      div:last-child { margin-top: 15px; }
      &.clicked div:first-child { transform: rotate(45deg) translateX(5px) translateY(5px); }
      &.clicked div:last-child { transform: rotate(-45deg) translateX(5.5px) translateY(-5.5px); }
    }
  }
  #ui {
    width: 100%;
    height: 100%;
    display: flex;
    @media only screen and (max-device-width: 480px) {
      position: absolute;
    }
  }
  #cover-widgets {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 120px;
    .container-widgets {
      width: 60%;
      max-width: 1400px;
      margin: auto;
      .widget {
        background: rgba(0, 0, 0, 0.62);
        border: 1px solid black;
        min-height: 50px;
        margin-bottom: 10px;
      }
    }
  }
  #left-panel, #right-panel {
    background: @grey1;
    transition-duration: @speed1;
    padding-top: 60px;
    min-width: 260px;
  }
  #left-panel {
    border-right: @border;
    margin-left: 0px;
    float: left;
    &.active { margin-left: -260px; }
    .child-panel {
      transition-duration: 100ms;
      padding: 5px 10px;
      background-color: rgba(0,0,0,0);
      span:first-child { margin-left: 0px; }
    }
    .child-panel:hover {
      background-color: rgba(0,0,0,0.25);
      span:first-child { margin-left: 5px; }
    }
  }
  #right-panel {
    border-left: @border;
    margin-right: 0px;
    float: right;
    &.active { margin-right: -260px; }
  }


  @media only screen and (max-device-width: 1100px) {
    #cover-widgets .container-widgets { width: 75%; }
  }
  @media only screen and (max-device-width: 800px) {
    #cover-widgets .container-widgets { width: 90%; }
  }

  @media only screen and (max-device-width: 480px) {
    #header { min-width: 0px; }
    #ui { position: absolute; }
    #cover-widgets {
      position: fixed;
      padding-top: 60px;
      .container-widgets {
        width: 95%;
        margin: 10px 2.5% 0 2.5%;
      }
    }
    #left-panel {
      position: fixed;
      margin-left: inherit;
      float: inherit;
      width: 100%;
      left: 0%;
      &.active {
        left: -100%;
        margin-left: inherit;
      }
    }
    #right-panel {
      position: fixed;
      margin-right: inherit;
      float: inherit;
      width: 100%;
      right: 0%;
      &.active {
        right: -100%;
        margin-right: inherit;
      }
    }
  }
}
