@grey1: #1f1f1f;
@grey2: #1d1d1d;
@speed0: 180ms;
@speed1: 300ms;
@speed2: 500ms;

html, body, #app { height: 100%; }
html, body {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  background: #0099d1;
  * {
    font-family: 'Open Sans', 'sans-serif';
  }
}
body {
  #map           { z-index: 0; }
  #ui            { z-index: 1; }
  #cover-widgets { z-index: 1; }
  #left-panel    { z-index: 2; }
  #right-panel   { z-index: 2; }
  #header        { z-index: 3; }
  h1 {
    font-size: 20px;
  }
  a {
    color: #0099d1;
    text-decoration: none;
    text-shadow: 1px 1px 0px #333;
  }
  input {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    width: 100%;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
  }
  .tooltip {
    width: 80px;
    position: absolute;
    text-align: center;
    padding: 5px;
  }
  .elements-ui-absolute {
    position: fixed;
    transition-duration: @speed2;
    top: 0;
  }
  .button { cursor: pointer; }
  button {
    padding: 4px 10px;
    border-radius: 2px;
    background: black;
    font-size: 19px;
    color: white;
    transition-duration: @speed0;
    border: 0;
    cursor: pointer;
  }
  #header {
    border-bottom: 1px solid black;
    pointer-events: all;
    width: 100%;
    height: 60px;
    background: @grey2;
    color: white;
    .container-left-menu {
      background: black;
      float: left;
      i {
        transform: rotateZ(-180deg);
        transition-duration: @speed2;
        font-size: x-large;
        padding: 18px;
      }
      &.clicked i { transform: rotateZ(0deg); }
    }
    h1 {
      float: left;
      padding: 11px 0;
      width: 190px;
      font-family: 'Abel', 'sans-serif';
      font-weight: bolder;
      margin: 0;
      text-align: center;
      font-size: 30px;
      float: left;
    }
    .container-right-menu {
      float: right;
      padding: 20px;
      width: 25px;
      height: 20px;
      div {
        position: absolute;
        transition-duration: @speed1;
        width: 25px;
        height: 5px;
        background: white;
        border-radius: 2.5px;
      }
      div:last-child { margin-top: 15px; }
      &.clicked div:first-child { transform: rotate(45deg) translateX(5px) translateY(5px); }
      &.clicked div:last-child { transform: rotate(-45deg) translateX(5.5px) translateY(-5.5px); }
    }
  }
  #ui {
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  #tooltip2 {
    width: 600px;
    height: 16px;
    position: absolute;
    bottom: 26px;
    transition-duration: 500ms;
    .plot {
      text-align: center;
      width: 8.333%;
      float: left;
      .mesure {
        opacity: 0.8;
        div {
          position: absolute;
          bottom: 18px;
          width: 2.5%;
        }
        div:nth-of-type(1) { margin-left: 0%; }
        div:nth-of-type(2) { margin-left: 2.5%; }
        div:nth-of-type(3) { margin-left: 5% ; }
      }
    };
  }
  #cover-widgets {
    transition-duration: @speed2;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    color: #dcdcdc;
    overflow: auto;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
    .container-widgets {
      max-width: 1600px;
      margin: auto;
      transition-duration: @speed2;
      padding: 15px;
      .info-widget {
        padding: 10px 0 10px 10px;
        background: rgba(255, 255, 255, 0.25);
        margin-top: 15px;
        color: black;
      }
      .container-single-widget {
        width: 50%;
        float: left;
      }
    }
    .widget .one-plot {
      margin-top: 15px;
      float: left;
      background: rgba(0, 0, 0, 0.35);
      text-align: center;
      color: black;
    }
    #widget-2-hours {
      padding-right: 7.5px;
      .mesure {
        transform: rotateZ(180deg);
        div { float: left; }
        div:nth-of-type(3) {
          width: 40%;
          opacity: 0.7;
        }
        div:nth-of-type(2) {
          width: 30%;
          opacity: 0.4;
        }
        div:nth-of-type(1) {
          width: 20%;
          opacity: 0.2;
        }
        div:first-child { margin-left: 5%; }
      }
    }
    #widget-24-hours { padding-left: 7.5px; }
    #widget-2-hours .one-plot,
    #widget-24-hours .one-plot { width: 8.333333%; }
  }
  #left-panel, #right-panel {
    pointer-events: all;
    background: @grey1;
    transition-duration: @speed2;
    padding-top: 60px;
    width: 260px;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
  }
  #left-panel {
    left: 0px;
    &.active { left: -260px; }
    .container-spot-left-panel {
      overflow: auto;
    }
    .child-panel {
      transition-duration: 100ms;
      padding: 5px 0px;
      background-color: rgba(0,0,0,0);
      &:hover {
        background-color: rgba(0,0,0,0.25);
      }
      span {
        max-width: 160px;
        white-space: nowrap;
        &:first-child {
          transition-duration: 100ms;
          margin-left: 0px;
        }
      }
    }
  }
  #right-panel {
    right: 0px;
    &.active { right: -260px; }
    .link-container {
      position: absolute;
      width: 260px;
      bottom: 60px;
    }
  }
  #map-container {
    transition: @speed2;
    &.blur { filter: blur(15px); }
    #map {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      .marker {
        cursor: pointer;
        width: 28px;
        height: 28px;
        margin-left: -14px;
        margin-top: -14px;
        border-radius: 50%;
        .child-marker {
          position: absolute;
          width: 100%; height: 100%;
          &.child-marker-1 {
            border-radius: 50%;
            opacity: 0.25;
            background: red;
          }
          &.child-marker-2 {
            transform: scale(0.65);
            border-radius: 50%;
            background: red;
          }
        }
      }
    }
  }
  @media only screen and (max-device-width: 1100px) {
    #cover-widgets .container-widgets .container-single-widget { width: 100%; }
    #cover-widgets .container-widgets {
      .container-single-widget { width: 100%; }
      #widget-2-hours { padding-right: 0px; }
      #widget-24-hours { padding-left: 0px; }
    }
  }
  @media only screen and (max-device-width: 480px) {
    #cover-widgets #widget-2-hours .one-plot,
    #cover-widgets #widget-24-hours .one-plot { width: 16.666666%; }
    #left-panel, #right-panel { width: 100%; }
    .tooltip { display: none; }
    #left-panel {
      left: 0%;
    }
    #right-panel {
      right: 0%;
      .link-container {
        width: 100%;
      }
    }
    #left-panel.active { left: -100%; }
    #right-panel.active { right: -100%; }
  }
}
